/* HTML */
html, body {
    background: #111111;
}

/* Title */
#title {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

/* Table */
table {
    color:#CCC;
    font-size: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid #2c2c2c;
}

tr {
    background: #2c2c2c;
    border-top: 1em solid transparent;
}

tr:hover {
    background: #535353;
    border-top: 1em solid transparent;
}

td {
    color:#CCC;
    border: none;
    text-align: center;
}

td:hover {
    background: #d3d3ff44;
    color:#CCC;
    border: none;
}

#usrid {
    color: #5555ff;
    text-decoration: none;
}

/* Tiles */
.tiles {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    margin: 20px;
    padding: 20px;
    flex-basis: 15%;
    font-size: 20px;
    background-color: #222222;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 5px 10px white;
    color: white;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.tile:hover {
    box-shadow: 0 0 0 5px white;
    background-color: white;
    color: black;
}

/* Text */
#back {
    margin: 0;
    padding: 0;
}

#back a {
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 0;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    color: #CCC;
}

#back a:hover {
    background-color: white;
    color: black;
}

h1 {
    margin: 0;
    padding: 0;
    color: #CCC;
}