<script>
    let linkElemAD = document.createElement('link');
    linkElemAD.rel = 'stylesheet';
    linkElemAD.type = 'text/css';
    linkElemAD.href = '/css/pages/osu/addata.css'
    document.head.append(linkElemAD);

    window.onload = (() => {
        let modalAD = document.getElementById('addatamodal');
        document.getElementById('addatalink').onclick = function() {
            modalAD.style.display = 'block';
        }
        document.getElementById('addataclose').onclick = function() {
            modalAD.style.display = 'none';
        }

        document.getElementById('ftarget').setAttribute('value', `${window.location.href.split('/')[window.location.href.split('/').length-2]}_${window.location.href.split('/')[window.location.href.split('/').length-1]}`);
    });

    let hideLink = ((e) => {
        let x = document.getElementsByClassName('deletemethod');
        for (let i = 0; i < x.length; i++) {
            x[i].style.display = e.target.value == 'delete' ? 'none' : 'block';
        }
    });
</script>
<div id='addata'><a id='addatalink'>Add Data</a></div>
<div id='addatamodal'>
    <div id='addatacontent'>
        <span id='addataclose'>&times;</span>
        <form action='/auth/addata' method='POST'>
            <label for='fmethod' id='fpstyle'>Method</label>
            <select if='fmethod' name='method' onchange='hideLink(event);'>
                <option value='insert'>insert</option>
                <option value='delete'>delete</option>
                <option value='update'>update</option>
            </select>
            <label for='fname' id='fpstyle'>Name: </label><input id='fname' type='text' name='name'>
            <label for='flink' id='fpstyle' class='deletemethod'>Link: </label><input id='flink' class='deletemethod' type='text' name='link'>
            <input id='ftarget' type='hidden' name='target'>
            <p id='fpstyle'>NOTE: This works but is very easy to abuse so it will be disabled for the time being.</p>
            <input type='submit' value='Submit Data'>
        </form>
    </div>
</div>