<meta charset="UTF-8">
<meta name="keywords" content="ctb osu!ctb malody!ctb">
<meta name="description" content="General osu!ctb & malody!ctb hub for useful information.">
<meta name="author" content="K3">
<title>ctb</title>
<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
<link rel="stylesheet" type="text/css" href="/css/default.css">
<link rel="stylesheet" type="text/css" href="/css/fadein.css">
