<script>
    let linkElemNav = document.createElement('link');
    linkElemNav.rel = 'stylesheet';
    linkElemNav.type = 'text/css';
    linkElemNav.href = '/css/navigation.css'
    document.head.append(linkElemNav);
</script>
<div id="navi">
    <a href="/osu/.">osu!</a>
    <a href="/malody/.">malody!</a>
    <a href="https://github.com/K3VRAL/ctb.sh">Source Code</a>
    <a href="https://ctb.sh" style="float: right; letter-spacing: 10px;">ctb.sh</a>
</div>