#addata {
    margin: 0;
    padding: 0;
    color: #CCC;
    float: right;
}

#addatalink {
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 0;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    color: #CCC;
}

#addatalink:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#addatamodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#addatacontent {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    width: 80%;
}

#addataclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#addataclose:hover {
    cursor: pointer;
}

#fpstyle {
    margin: 0;
    padding: 0;
    color: #000000;
}