<!DOCTYPE html>
<html lang='en'>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" type="text/css" href="/css/404.css">
    </head>
    <body>
        <%- include('../partials/navigation'); %>
        <p id='p404'>404</p>
        <p id='p404what'>what in the world is '<%= whatsthis %>'?</p>
    </body>
</html>