<!DOCTYPE html>
<html lang='en'>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <a class="split left" href='/osu/'>
            <div class="centered">
                <img src="/img/osu.png">
                <p>osu!ctb</p>
            </div>
        </a>
        <a class="split right" href='/malody/'>
            <div class="centered">
                <img src="/img/malody.png">
                <p>malody!ctb (WIP)</p>
            </div>
        </a>
    </body>
</html>